# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:pas$W0rd@localhost:3306/nooro?sslmode=disable" # ./prisma/.env should be updated instead.
ALLOWED_LIST="^.*$" # string or regex[] of who can connect to the server
SECRET_KEY="adajawkvnqvnvn3n1ivn1v1vm"
PORT_CORE="5002" # which port should your app listen to - match the port on client CORE_URL
EMAIL_HOST='smtp.gmail.com' # smtp.gmail.com
EMAIL_PORT='465' # 465
EMAIL_USER='' # optional - emails will log a warning instead
EMAIL_PASS='' # https://knowledge.workspace.google.com/kb/how-to-create-app-passwords-000009237
EMAIL_TO='maverickcer@gmail.com' # developers or business experts
NODE_ENV='development'
NUM_WORKERS='1' # how many cpu cores should be used to process requests
